@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

*::selection {
  background-color: #2179b5;
  color: #fff;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container > .sectionImage {
    width: 80vw;
    user-select: none;
}

.container > .sectionImage > img {
  width: 80vw;
  height: 100vh;
  user-select: none;
}

.overlay{
  width: 80vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  opacity: 0.7;
  animation-name: overlay;
  animation-duration: 3s;
  animation-delay: 150ms;
  background-color: #2179b5;
  animation-timing-function: ease-in;
}

@keyframes overlay {
  from {background-color: #40c8f4;}
  to {background-color: #2179b5 ;}
}

.container > .sectionSignUp {
    width: 20vw;
}

.container > .sectionSignUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .sectionSignUp h1 {
  width: 80%;
  color: #000;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: .100em;
  text-align: start;
}

.container > .sectionSignUp form .inputValues {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 16px;
}

.container > .sectionSignUp form .inputValues > .label {
  display: flex;
  color: #999999;
}

.container > .sectionSignUp form .inputValues > input {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 30;
  color: #efeeed;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px 4px 8px;
  outline: none;
}

.container > .sectionSignUp form .inputValues > input:focus {
  color: #555555;
}

.container > .sectionSignUp form div.divButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.container > .sectionSignUp form div.divButton > button {
  border-radius: 24px;
  color: #fff;
  border: none;
  outline: none;
  user-select: none;
}

.container > .sectionSignUp form div.divButton > button.buttonSignUp {
  background-color: #40c8f4;
  width: 10rem;
  height: 3em;
  cursor: pointer;
  transition: opacity 250ms;
}

.container > .sectionSignUp form div.divButton > button.buttonSignUp:hover {
  opacity: 0.7;
}

.container > .sectionSignUp form div.divButton > button.buttonLogin {
  background-color: #fff;
  color: #555555;
  width: 7rem;
  height: 3em;
  cursor: pointer;

}

